* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.25s all ease;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #006FE8 0%, #015BA5 45%, #004EA4 100%);
}

/* 
colors

dark background : #00434c
container border : #3bb1bf
light background : #0089a5
active skill box : #00a92e
active skill box text : #e4f75d

*/
